$lightGray: #f7f5f2;
$gray: #dedede;
$darkGray: #333132;
$midGray: lighten($darkGray, 10%);
$black: #101010;
$red: #d22f2e;
$orange: #f04923;
$pink: #DFCFC7;
$green: #dbdfcc;
$lightBlue: #5B72A2;

$navWidth: 80px;

$transition-duration: 0.5s;